<section class="bg-primary" id="biography">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Educations</h2>
                <hr class="light">
                <p class="text-faded">Ph.D. in Electrical & Computer Engineering @ Texas A&M University 2014 - Present</p>
                <p class="text-faded">MS in Computer Science @ Yonsei University 2008 - 2010</p>
                <p class="text-faded">BA of Engineering @ Yonsei University 2004 - 2008</p>
                <!-- <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
                <h2 class="section-heading">Experience</h2>
                <hr class="light">
                <p class="text-faded">Research Assistant @ Texas A&M University Sep. 2017 - Dec. 2017 and Sep. 2019 - Present</p>
                <p class="text-faded">Teaching Assistant @ Texas A&M University Sep. 2015 - May 2016 and Sep. 2018 - May 2019</p>
                <p class="text-faded">Research Engineer @ LG Electronics Sep. 2016 - Mar. 2017</p>
                <p class="text-faded">Lecturer @ Yonsei University Mar. 2014 - Jun. 2014</p>
                <p class="text-faded">Research Engineer @ IDIS Jan. 2010 - Apr. 2014</p>
                <p class="text-faded">Teaching Assistant @ Yonsei University Mar. 2008 - Feb. 2010</p>
                <!-- <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
                <h2 class="section-heading">Honor</h2>
                <hr class="light">
                <p class="text-faded">The Grand Prize - IDIS and ETNEWS Science and Technology & IT paper contest Dec. 2009</p>
                <p class="text-faded">The Best Paper Award - KIIECT Fall Conference Oct. 2009</p>
                <p class="text-faded">Summa Cum Laude - Yonsei University Feb. 2008</p>
                <p class="text-faded">An Honor Prize for Academic Excellence - Yonsei University Fall 2005, and Spring 2006 and 2007</p>
                <p class="text-faded">Scholarship for Academic Excellence for Academic Excellence - Yonsei University Fall 2005 - 2007</p>
                <!-- <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
            </div>
        </div>
    </div>
</section>
